<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pets')}">
<head>
    <meta charset="UTF-8">
    <title>Pets Page</title>
</head>
<body>
<h2 th:text="'Pets'">Vets Page</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Type</th>
            <th style="width: 150px;">Owner</th>
            <th style="width: 150px;">Birth Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text="${pet.getPetType().getName()}">1</td>
            <td th:text="${pet.getOwner().getFullName()}">John</td>
            <td th:text="${pet.getBirthDate().toString()}">Doe</td>
        </tr>
        </tbody>
    </table>

</body>
</html>